<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.google</id>
	<name>Google Integration</name>
	<description>This plugin provides integration with Google services via their API.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.1</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.google.html</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="7.3" max="7.3.99" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="7.3.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="7.3.0" revision="1" file="patches/7.3.0.php" />
	</patches>

	<!-- Extensions -->
 
	<extensions>

		<!-- Setup Page Menu Item -->

		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgm.google.setup.menu</id>
			<name>Google</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGoogle_SetupMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.services" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgm.google.setup.page</id>
			<name>Setup Page Google Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGoogle_SetupSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="google" />
			</params>
		</extension>
		
		<!-- Service Providers -->
		
		<extension point="cerb.service.provider">
			<id>wgm.google.service.provider</id>
			<name>Google</name>
			<class>
				<file>api/App.php</file>
				<name>ServiceProvider_Google</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>

    </extensions> 
</plugin>
